html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Lato', sans-serif;
    padding:0;
    margin:0;
}
nav{
    background-color: black;
    color: white;
    padding:20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color:gray;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
}
.searchicon{
    margin-left: 4px;
}
.searchinput{
    border: none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: black;
}
.limitedoffer{
    font-size: 20px;
    cursor: pointer;
    border-bottom: 2px solid  greenyellow;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuitem{
    margin-right: 90px;
    cursor: pointer;
    font-size: x-large;
}
.slider{
    background: url(./img/1130693.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    overflow: hidden;
}
.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;

}
.sliderItem{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.sliderTitle{
   position:absolute;
   top: 15%;
   right: 17%;
   color:white;
   font-size:  50px;

}
.sliderprice{
    position:absolute;
    top: 15%;
    left: 15%;
    color:white;
    font-size:  50px;;
    font-weight: 400;
    border: 1px solid ghostwhite;
    justify-content: center;
 }
 .buybutton{
   position:absolute;
   top: 55%;
   right: 10%;
   color:white;
   font-size:  30px;
   cursor: pointer;
   background-color:brown;
 }
 .buybutton:hover{
    background-color: white;
    color: black;
 }
 .sliderItem:nth-child(1) .sliderTitle{
    color: white;
 }
 .sliderItem:nth-child(2) .sliderTitle{
    color: purple;
 }
 .sliderItem:nth-child(3) .sliderTitle{
    color: orange;
 }
 .sliderItem:nth-child(4) .sliderTitle{
    color:crimson;
 }
 .sliderItem:nth-child(5) .sliderTitle{
    color:yellow;
 }
 .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
 }
 .featureimg{
    width: 60px;
    height: 60px;
    justify-content: center;
    
 }
 .feature{
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
 }
 .featuretitle{
    font-weight: bolder;
    margin:10px;
 }
 .featureDesc{
    margin:5px;
    font-weight: bold;
 }
 .product{
    height: 70vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}
.productImg{
    width: 40%;
}
.productdetails{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
    padding: 50px;
}
.productTitle{
    font-size: 87px;
    font-weight: bolder;
}
.productPrice{
    margin-top: 3%;
    border: 1px solid black;
    font-size: 38px;
    position: absolute;
    justify-content: center;

}
.productDesc{
    margin-top: 11%;
    font-size: larger;
    font-weight: bold;
}
.colors,.sizes{
    display: flex;
    font-size: 20px;
}
.option1{
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.option2{
    padding: 5px;
    border:1px solid black;
    border-radius: 5px;
    margin-left: 3%;
    cursor: pointer;
}
.option1:hover{
    background-color: pink;
}
.option2:hover{
    background-color: lightgreen;
}
.productbutton{
    padding: 20px;
    float: right;
    background-color: black;
    color: white;
    font-size: larger;
    cursor: pointer;
    font-weight: bold;
}
.productbutton:hover{
    background-color: white;
    color: black;
}
.payment{
    width: 640px;
    height: 500px;
    background-color: white;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.87); 
box-shadow: 0px 0px 27px 2px rgba(0,0,0,0.87);
}
.payTitle{
    font-size: 20px;
    color: lightgray;
    font-weight: bolder;
}
label{
    font-size: 14px;
    font-weight: 300px;
}
.payInput{
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid gray;
}
.payInput::placeholder{
    color: lightgray;
}
.cardicons{
    display: flex;
    margin-right: 5px;
}
.paybutton{
    width: 100%;
    background-color: lightgreen;
    height: 20%;
    border: none;
}
.paybutton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display:flex;
    padding: 2px;
    justify-content: center;
}
.close:hover{
    cursor:pointer;
}
.gallery {
    padding: 50px;
    display: flex;
    margin-top:2px;

  }
  
  .galleryItem {
    flex: 1;
    padding: 50px;
  }
  
  .galleryImg {
    width: 100%;
  }
.newseason{
    display: flex;
    height: 80%;
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 81%);
}
.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nsImage1{
    height:100%;
}
.nsImage{
    height: 100%;
    width: 100%;
}
.nsButton:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.nsButton{
    font-size: larger ;
    padding: 20px;
    margin-top: 5%;
}
footer{
    display: flex;
    font-size: larger;
}
.footerLeft
{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.fMenuTitle{
    font-size: 16px;
}
.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.fMenuList{
    padding: 0;
    list-style: none;
    
}
.fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.fInput{
    padding: 5px;
}
.fButton{
    padding: 5px;
    background-color: black;
    color: white;
}
.fIcons{
    display: flex;
}
.fIcon{
width: 20px;
height: 20px;
margin-right: 5px;
}
.copyright{
    font-weight: 300;
    font-size: 20px;
}
@media screen and (max-width:480px){
    nav{
        padding: 20px;
      }
    
      .search{
        width: 90px;  
        display: none ;
      }
    
      .navBottom{
        flex-wrap: wrap;
      }
    
      .menuItem{
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
      }
    
      .slider{
        clip-path: none;
      }
    
      .sliderImg{
        width: 90%;
      }
    
      .sliderBg{
        width: 100%;
        height: 100%;
      }
    
      .sliderTitle{
        display: none;
      }
    
      .sliderPrice{
        top: unset;
        height: 70tpx;
        bottom: -50;
        left: 0;
        background-color: lightgrey;
      }
    
      .buyButton{
        right: 0;
        top: 0;
      }
    
      .features{
        flex-direction: column;
      }
    
      .product{
        clip-path: none ;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .productImg{
        width: 80%;
      }
      .productButton{
        position: absolute;
        align-items: center;
        bottom: -80px;
  
      }
    
      .productDetails{
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
      }
    
      .productTitle{
        font-size: 50px;
        margin: 0;
      }
    
      .gallery{
        display: none;
      }
    
      .newSeason{
        flex-direction: column;
      }
    
      .nsItem:nth-child(2){
        padding: 50px;
      }
    
      footer{
        flex-direction: column;
        align-items: center;
      }
    
      .footerLeft{
        padding: 20px;
        width: 90%;
      }
    
      .footerRight{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
      }
    
      .payment{
        width: 90%;
        padding: 20px;
      }
}

